:root {
  --primary-color: #1b2021;
  --text-color: #1b2021;
  --shadow-color: #3c3c3c;
}
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Karla", sans-serif;
}
.container {
  height: 100vh;
  background: url("./asset/Group\ 7.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content {
  /* background: red; */
  height: 100vh;
  width: 75%;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
}
.img {
  display: none;
}
.text {
  margin: 0 auto;
  text-align: center;
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.3em;
  text-transform: uppercase;
}
.input {
  width: 100%;
}
.email {
  display: block;
  width: 100%;
  height: 2.8em;
  border-radius: 5px;
  border: 0;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 10px;
  color: var(--text-color);
}
.email:focus {
  outline: none;
}
.email::placeholder {
  text-align: center;
  color: rgb(97, 97, 97);
  font-weight: 500;
}
button {
  margin-top: 1em;
  width: 100%;
  font-weight: 600;
  display: block;
  color: #fff;
  border-radius: 5px;
  border: 2px solid #fff;
  background: #000;
  height: 2.8em;
  text-transform: uppercase;
}
footer {
  margin: 0 auto;
}
.icon {
  margin: 0 5px 0 5px;
}
@media (min-width: 680px) {
  .content {
    width: 450px;
  }
}
@media (min-width: 1140px) {
  .img {
    display: block;
    background: url("./asset/rodion-kutsaev-049M_crau5k-unsplash\ 1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .logo {
    margin-top: 2em;
  }
  .container {
    background: #fff;
    display: grid;
    grid-template-columns: 1.2fr 0.7fr;
  }
  .content {
    margin-left: 8em;
    width: 500px;
  }
  .text {
    color: var(--text-color);
    text-align: left;
    margin: 0 0;
    font-size: 3.5rem;
  }
  .input {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .email {
    border: 1px solid black;
    height: 50px;
    border-radius: 8px;
  }
  .email::placeholder {
    text-align: left;
  }
  button {
    margin: 0 0 0 1em;
    width: 180px;
    border-radius: 8px;
    height: 50px;
    background-color: #1b2021;
    cursor: pointer;
  }
  button:hover {
    transition: 250ms ease;
    opacity: 0.9;
  }
  footer {
    margin: 0 0;
    visibility: hidden;
  }
  .icon {
    fill: #000;
  }
}
